* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

#container {
    width: 100%;
}

nav {
    display: flex;
    height: 5vh;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

hr {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    border: none;
    border-top: 1px solid gray;
}

.nav-design {
    display: flex;
    width: 7rem;
    justify-content: space-between
}

#left-nav {
    margin-left: 5rem;
}

#right-nav {
    margin-right: 5rem;
}

#register-btn {
    background-color: #3c3c3c;
    color: white;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-left: 0.4rem;
    letter-spacing: 0.4px;
}

#login-btn {
    background-color: #787878;
    color: white;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-left: 0.4rem;
    letter-spacing: 0.4px;
}

#first-section {
    display: flex;
    width: 80%;
    height: 95vh;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#community-text {
    width: 45%;
    padding: 30px;
}

#image {
    display: flex;
    width: 45%;
    background-position: -20px;
    height: 400px;
}

#image img {
    width: 500px;
    height: 420px;
}

#community-text > h1 {
    width: 12ch;
    font-size: 50px;
}

#community-text > p {
    width: 40ch;
    font-size: 17px;
    font-weight: 200;
    margin-top: 1.5rem;
}

#first-register {
    margin-top: 1.5rem;
    width: 200px;
    height: 40px;
    background-color: #3c3c3c;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}

#second-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#second-section-card {
    background-color: #3c3c3c;
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center
}

#second-section-card h2 {
    color: white;
    margin-right: auto;
    margin-left: 6rem;
    position: relative;
    top: 1.5rem;
    margin-bottom: 6rem;

}

#cards {
    width: 80%;
    height: ;
    display: flex;
    justify-content: space-between;
}

.behind-main-div {
    background-color: white;
    position: relative;
    top: 110px;
    margin: auto;
    height: 10px;
    width: 50px;
    border-radius: 10px;
}

.main-div {
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
}

.main-div p {
    width: 30ch;
    text-align: center;
    margin-top: 1.5rem;
}

.left-side-div {
    width: 175px;
    background-color: #3c3c3c;
    height: 20px;
    position: relative;
    top: -50px;
    border: none;
    border-radius: 0px 10px 0px 0px;
}

.right-side-div {
    width: 175px;
    background-color: #3c3c3c;
    height: 20px;
    position: relative;
    top: -50px;
    border: none;
    border-radius: 10px 0px 0px 0px;
}

.decor-div {
    display: flex;
}

.person {
    position: relative;
    top: -40px;
    display: flex;
    justify-content: center;
    margin: auto;
    color: white;
}

.profile-square {
    width: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 2px white,
        0px 0px 1px 3px gray;

}

.person-margin {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}


#third-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding-top: 15rem;
}

#third-section h3 {
    font-size: 17px;
    color: red;
    padding-top: 3rem;
}

#third-section > p {
    font-size: 13px;
}

form {
    margin-top: 3rem;
    padding-top: 4rem;
    width: 60%;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 1px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}

#last4items {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.input-select {
    width: 300px;
    height: 40px;
    margin-top: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 0 1rem;
}

select {
    background: none;
}

#last4items input {
    width: 82%;
}

#last4items select {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 82%;
}

#s-button {
    display: flex;
    flex-direction: flex-end;
    margin-left: auto;
    margin-right: 4.8rem;
    line-height: 30px;
}

#s-button button {
    width: 100px;
    height: 30px;
    background-color: #3c3c3c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 20px;
}

footer {
    margin-top: 300px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 15px;
}

#copyright {
    width: 30%;
}

#social-icons {
    width: 30%;
    height: 10px;
}

#logos {
    display: flex;
    width: 40%;
}

#i4g-logo img {
    background-color: white;
    width: 130px;
}

#zuri-svg img {
    background-color: white;
    width: 182px;
}

#team-oslo {
    width: 182px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    font-size: 35px;
    color: black;
    background-color: white;
}
